### Problem Statement
##### This Dataset is based on Logisitics Systems and the data that is collected from their performance. This project aims to leverage that data science techniques on this dataset to:

###### 1. Predict delivery delays using status/dates/distance
###### 2. Optimize carrier selection based on cost/transit time
###### 3. Detect anomalies in shipment weights/costs
###### 4. Forecast shipping expenses by route

#### Understanding the dataset

In [26]:
# import libraries to be used in the project

# Pandas is used for data manipulation and analysis
import pandas as pd
#numpy is used to work with arrays and matrices, which makes it easier to handle numerical data
import numpy as np
#matplotlib is a graph plotting library used for visualization
import matplotlib.pyplot as plt

In [15]:
# Load dataset into a data frame
df = pd.read_csv("./logistics_shipments_dataset.csv")

# Output sample of the database to learn its structure 
df.head()

,Shipment_ID,Origin_Warehouse,Destination,Carrier,Shipment_Date,Delivery_Date,Weight_kg,Cost,Status,Distance_miles,Transit_Days
0,SH10000,Warehouse_MIA,San Francisco,UPS,2023-10-02,2023-10-04,25.7,67.46,Delivered,291,2
1,SH10001,Warehouse_MIA,Atlanta,DHL,2023-12-06,2023-12-09,38.9,268.85,Delivered,1225,3
2,SH10002,Warehouse_LA,Houston,DHL,2023-09-18,2023-09-20,37.2,74.35,Delivered,220,2
3,SH10003,Warehouse_BOS,Seattle,OnTrac,2023-01-26,2023-02-04,42.6,187.04,Delivered,1156,9
4,SH10004,Warehouse_SF,Dallas,OnTrac,2023-06-03,2023-06-06,7.9,120.01,Delivered,1017,3

##### Preliminary Dataset Analysis

In [16]:
# Size of the dataset (rows, columns)
df.shape

(2000, 11)

In [17]:
# Various information about the dataset, including range of entries and number of items in each column and their data type
df.info()

# Perform Statistical analysis on the entire dataset, measures of central tendency, dispersion and calculating Quartiles
df.describe(include="all")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Shipment_ID       2000 non-null   object
 1   Origin_Warehouse  2000 non-null   object
 2   Destination       2000 non-null   object
 3   Carrier           2000 non-null   object
 4   Shipment_Date     2000 non-null   object
 5   Delivery_Date     1968 non-null   object
 6   Weight_kg         2000 non-null   float64
 7   Cost              1959 non-null   float64
 8   Status            2000 non-null   object
 9   Distance_miles    2000 non-null   int64
 10  Transit_Days      2000 non-null   int64
dtypes: float64(2), int64(2), object(7)
memory usage: 172.0+ KB

,Shipment_ID,Origin_Warehouse,Destination,Carrier,Shipment_Date,Delivery_Date,Weight_kg,Cost,Status,Distance_miles,Transit_Days
count,2000,2000,2000,2000,2000,1968,2000.000000,1959.000000,2000,2000.000000,2000.000000
unique,2000,10,15,7,364,368,NaN,NaN,5,NaN,NaN
top,SH10000,Warehouse_LA,Chicago,LaserShip,2023-10-04,2023-06-07,NaN,NaN,Delivered,NaN,NaN
freq,1,220,154,303,15,12,NaN,NaN,1648,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,30.184800,205.161598,NaN,1275.868000,4.182500
std,NaN,NaN,NaN,NaN,NaN,NaN,124.967053,222.586082,NaN,691.382829,1.837902
min,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,17.890000,NaN,101.000000,1.000000
25%,NaN,NaN,NaN,NaN,NaN,NaN,12.300000,117.710000,NaN,690.250000,3.000000
50%,NaN,NaN,NaN,NaN,NaN,NaN,20.700000,196.420000,NaN,1262.500000,4.000000
75%,NaN,NaN,NaN,NaN,NaN,NaN,33.925000,272.115000,NaN,1867.250000,5.000000
max,NaN,NaN,NaN,NaN,NaN,NaN,5404.200000,6562.210000,NaN,2499.000000,12.000000

#### Cleaning and making data ready for use in further analysis

In [22]:
# Locate Missing values
# isnull returns a boolean dataset that is a mirror of the original where empty/missing values show up as True, filled as False
# sum returns a column wise index where all the missing values in a column are shown in a numeric value
# sort_values then sorts the output index in desceding order, showing where the bulk of the missing values are
df.isnull().sum().sort_values(ascending=False)

Cost                41
Delivery_Date       32
Shipment_ID          0
Origin_Warehouse     0
Destination          0
Carrier              0
Shipment_Date        0
Weight_kg            0
Status               0
Distance_miles       0
Transit_Days         0
dtype: int64

In [25]:
# Locate Duplicated values
# duplicated returns each index of the dataset along with a boolean value that tells whether record has been duplicated or not(True if yes)
# sum will return the total number of duplicated entries
df.duplicated().sum()

0

In [35]:
# select the data columns with numerical data
# columns will return a list of the column names with numerical data
num_cols = df.select_dtypes(include=np.number).columns
print(num_cols)

Index(['Weight_kg', 'Cost', 'Distance_miles', 'Transit_Days'], dtype='object')